/* Meu primeiro aquivo CSS */

/* TAGS */

p{
	color: white;
	text-shadow:1px 1px 1px #111111 ;
	font-size: 15px;
	font-family: Arial;
	text-align: center;
}

body{
	background-color:;

}
*{
	margin:0;
	padding:0;
}


header{
	
	background-color:#35b8b0;
	height: 100px;
	padding: 10px;


}

footer{
	clear:both;
	text-shadow:1px 1px 1px #111111 ;
	background-color:#35b8b0;
	height:60px;
	color:white;
	text-align:center;
	font-family:Helvetica, Arial;
	padding: 20px;
}

h1{
	color:#FF7F50;
	text-shadow:1px 1px 1px #111111 ;
	text-align: center;
	margin:0 0 50px 0;
}


/* IDS # */

#principal{
	background-image: url('assets/sunset.jpg');
	clear:both;
	background-size:100%;
	min-height:400px;
	padding: 80px 0 0 0;
}
#header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
#logo{


}

#menu{
	
	

}
#menu a{
	text-decoration:none;
	padding:0px 20px; 
	color:#111;
	text-shadow: 1px 1px  #111111
}
#menu a:hover{
	background-color:white;
}
/* CLASS . */

.container{
	width: 1000px;
	margin:0 auto;
}
.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 100px 0 100px 0;
}
		




	 	
}


